
#mainDiv{
   
    background-color: orangered;
padding:6px;

}

.account{
float:right;
 margin-top: 25px;
    
 

}
.submit{
    margin-top: 5px;
    
}
.register{
    margin-top: 5px;
    
}
.left{
   
    width:200px;
    height:215px;
 border:2px solid black;
    padding-left: 5px;
     padding-right: 7px;
    position: relative;
   right:21px;
    background-color: cornflowerblue;
    float:right;
    
 
}
.boxed{
   width:200px;
   height:200px;
    border:2px solid black;
    margin-top:48px;
    background-color: cornflowerblue;
    margin-right:48px;
    position: absolute;
    right:41px;
    z-index:2;

}

a{
    color:white;
}
.row{
    
    background-color: orangered;
}
 img{
  
  border:2px solid black;
    width:100%;
     margin-bottom:10px;
}